{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<main class="flex flex-col items-center h-screen">
    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[300px] items-center bg-amber-400 mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl font-semibold"> About </h1>
    </div>

    <div class="rounded-2xl py-4 px-3 flex justify-center w-[500px] items-center text-center bg-sky-500 mx-auto mt-5 lg:px-8">
        <h1 class="text-2xl"> {{ about }} </h1>
    </div>
</main>
{% endblock %}