{% extends 'base.html.twig' %}

{% block title %}Contact Information{% endblock %}

{% block body %}
<main class="flex flex-col items-center h-screen">
    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[500px] items-center bg-white mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl text-gray-500"> Введите имя </h1>
    </div>

    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[500px] items-center bg-sky-400 mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl"> Instagram </h1>
    </div>

    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[500px] items-center bg-amber-400 mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl"> Med24 </h1>
    </div>
    
    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[500px] items-center bg-purple-700 mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl"> Irina </h1>
    </div>

    <div class="rounded-2xl py-1 px-3 flex justify-center h-[100px] w-[500px] items-center bg-red-600 mx-auto mt-5 px-4 lg:px-8">
        <h1 class="text-4xl"> Friends </h1>
    </div>
</main>
{% endblock %}